/.idea/.idea.StarAcademy.FullTextSearch/.idea/.name
/.idea/.idea.StarAcademy.FullTextSearch/.idea/indexLayout.xml
/.idea/.idea.StarAcademy.FullTextSearch/.idea/projectSettingsUpdater.xml
/.idea/.idea.StarAcademy.FullTextSearch/.idea/vcs.xml
/.idea/.idea.StarAcademy.FullTextSearch/.idea/workspace.xml
/.idea/.gitignore
/.idea/indexLayout.xml
/.idea/vcs.xml
/PH09 - SearchAPI/.idea/projectSettingsUpdater.xml
/PH09 - SearchAPI/.idea/workspace.xml
